/****************************\
| #f9f9f9   rgb(249,249,249) |
| #bccac9   rgb(188,202,201) |
| #9caaa9   rgb(156,170,169) |
| #4e5d5c   rgb( 78, 93, 92) |
| #2b3a39   rgb( 43, 58, 57) |
\****************************/

* {
    box-sizing: border-box;
    color: #2b3a39;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f9f9f9;
    font-family: sans-serif;
}

.wrapper {
    display: grid;
    grid-template-rows: max-content auto max-content;
    height: 100vh;
}

a {
    text-decoration: none;
}

/* header */

header {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    text-align: center;
    font-size: 1rem;
    box-shadow: 0 0 1em black;
    /*
    box-shadow: x | y | blur | spread | color;
    */
}

.header--title {
    grid-column: 1 / -1;
    background-color: #bccac9;
    font-size: 1.75rem;
    font-weight: 900;
}

.header--title.upper {
    padding-top: .1em;
}

.header--title.lower {
    letter-spacing: .4em;
    font-size: 1.25rem;
    font-weight: 400;
    padding-bottom: .25em;
}

.header--btn {
    display: block;
    background-color: #9caaa9;
    margin: 0;
    padding: .75em;
    font-size: 1rem;
    font-weight: 700;
}

.header--btn--active {
    background-color: #bccac9;
}

/* main */

main {
    grid-row: 2 / 3;
    font-size: 1rem;
    padding: 1em;
    overflow-y: scroll;
}

.home {
    display: grid;
    height: 100%;
}

#scramble {
    align-self: center;
    justify-self: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
}

.work {
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: .5em;
}

.work > a {
    color: blue;
}

.work > a:hover,
.work > a:focus {
    text-decoration: underline;
}

/* footer */

footer {
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #bccac9;
    align-items: center;
    justify-items: center;
    padding: .5em;
    box-shadow: 0 0 1em black;
}

.footer--title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 1rem;
    font-weight: 700;
}

.footer--txt {
    grid-column: 1 / 2;

}

.footer--email,
.footer--github {
    width: fit-content;
    grid-row: 1 / 3;
}

.footer--email {
    grid-column: 2 / 3;
}

.footer--github {
    grid-column: 3 / 4;
}

.footer--img {
    height: 2em;
}

/* cv */

.cv--info {
    font-weight: bold;
    margin-left: 1em;
}

.cv--date {
    margin-left: 2em;
}

/* buttons */

.btn {
    background-color: #bccac9;
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: .5em 1.5em;
    border-radius: 2em;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .1em;
}