/* * {
    border: 1px solid red;
} */

/* root */
html {
    font-size: 14px;
}
body {
    background-image: url("../images/cloud-texture.png");
    background-attachment: fixed;
    background-position: 0% 0%;
    color: white;
    font-family: 'Press Start 2P', cursive;
    line-height: 1.5em;
    margin: 0;
    animation: 60s infinite linear myflow;
}

/* header */
header {
    font-size: 1.5rem;
}
.header-content, .header-logo, .header-menu, .logo-container, .menu-container {
    display: flex;
}
.header-logo, .header-menu, .logo-container, .menu-container {
    align-items: center;
}
.header-content, .logo-container, .menu-container {
    justify-content: space-between;
}
.header-content {
    background-image: url("../images/stone-bg.png");
    padding: 32px;
}
.logo-container, .menu-container {
    gap: 40px;
}
.logo-container div, .menu-container div {
    height: fit-content;
}
.logo-link:link, .logo-link:focus, .logo-link:hover, .logo-link:visited, .logo-link:active {
    color: white;
    text-decoration: none;
}

/* main */
main {
    width: 75%;
    max-width: 800px;
    margin: 0 auto;
}
.main-content {
    background-image: url("../images/stone-bg.png");
    padding: 32px;
}
h1 {
    font-size: 2rem;
}

/* borders */
.top-border, .bottom-border {
    height: 32px;
}
.top-border {
    background-image: url("../images/stone-border-top.png");
    margin-top: 32px;
}
.bottom-border {
    background-image: url("../images/stone-border-bottom.png");
    margin-bottom: 32px;
}

/* links */
a:link, a:focus, a:hover, a:visited {
    color: yellow;
}
a:link, a:visited {
    text-decoration: none;
}
a:focus, a:hover, a:active {
    text-decoration: underline;
}
a:active {
    color: orange;
}

/* other */
.important {
    color: lime;
}

/* my work */
.group-item {
    margin: 32px 0;
    display: flex;
    justify-content: space-between;
    padding: 32px;
    gap: 32px;
}
.item-img {
    border: 2px solid black;
    background: rgb(255,255,255);
    display: flex;
    align-items: center;
}

/* cv */
.cv-flex {
    display: flex;
}

.cv-item {
    margin: 1.5rem 0;
}

.cv-item h3,
.cv-item p {
    margin: 0;
    padding: 0;
}

.canvas-container {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

#myCanvas {
  background: #000;
  border: 2px solid #fff;
}

@keyframes myflow {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 256px 0;
  }
}
